@model Practica_14_02_2024.Models.Comprador

@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>@ViewData["Title"]</title>
    <!-- Vincula tu hoja de estilos -->
    <link href="~/css/edit.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1>Crear comprador</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <hr />
            </div>
            <div class="group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <hr />
            </div>
            <div class="group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <hr />
            </div>
            <div class="group form-check">
                <label class="form-check-label"></label>
                    <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                <hr />
            </div>
            <div class="group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control"  type="date"/>
                <hr />
            </div>
              <div class="group">
                   <label class="control-label">Imagen</label>
                   <input type="file" accept="image/png, image/gif, image/jpeg"  name="foto" itemid="foto" id="foto"/>
                   <hr />
            </div> 
            <img id="foto-perfil" src="https://mayteygustavo.blob.core.windows.net/sergiouwu/detalle1.png"/>
            <div class="group form-crear-ordencompra">
                <label class="control-label">OrdenCompra</label>
                <div>
                    @if (ViewBag != null && ViewBag.OrdenCompra is SelectList && (ViewBag.OrdenCompra as SelectList).Count() > 0)
                    {
                        @Html.DropDownList("OrdenCompra.Id", ViewBag.OrdenCompra as SelectList)
                    }
                    else
                    {
                     <select>
                         <option disabled selected>No hay Ordenes disponibles</option>
                     </select>
                    }   
                    <hr />
                </div>
            </div>
            <div class="group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
                <script>
        // Muestra la alerta si hay un mensaje en ViewBag.AlertMessage
        var alertMessage = '@ViewBag.AlertMessage';
        if (alertMessage) {
            console.log(alertMessage);
        }
            window.addEventListener('load', () => {
                console.log("loaded");
                let foto_perfil = document.getElementById('foto-perfil');
                let reader = new FileReader();
                let input = document.getElementById('foto');
                input.addEventListener('input', (x) => {
                    console.log("input changed");
                    reader.readAsDataURL(input.files[0]);
                });
                reader.onload = (e) => {
                    console.log("img reloaded");
                    foto_perfil.setAttribute("src", e.target.result);
                };
            });
            </script>
}